<form (submit)="setSupplierDetails()">
    <ba-card>
        <legend>Supplier Details</legend>

        <div class="form-group">
            <label for="supplierId">Supplier Id</label>
            <div>
                <input type="text" class="form-control" placeholder="supplierId" name="supplierId" [(ngModel)]="supplierId">
            </div>
        </div>

        <div class="form-group">
            <label for="supplierName">Supplier Name</label>
            <div>
                <input type="text" class="form-control" placeholder="supplierName" name="supplierName" [(ngModel)]="supplierName">
            </div>
        </div>

        <div class="form-group">
            <label for="supplierName">Company Phone Number</label>
            <div>
                <input type="text" class="form-control" placeholder="companyPhoneNumber" name="companyPhoneNumber" [(ngModel)]="companyPhoneNumber">
            </div>
        </div>


        <div class="form-group">
            <label for="contactPersonName">Contact Person Name</label>
            <div>
                <input type="text" class="form-control" placeholder="contactPersonName" name="contactPersonName" [(ngModel)]="contactPersonName">
            </div>
        </div>

        <div class="form-group">
            <label for="contactNumber">Contact Number</label>
            <div>
                <input type="text" class="form-control" placeholder="contactNumber" name="contactNumber" [(ngModel)]="contactNumber">
            </div>
        </div>

        <!--<div class="form-group">
      <label for="contactNumber" class="col-lg-2 control-label">Supplier Item Types</label>
      <div class="col-lg-3">
        <input type="text" class="form-control" placeholder="supplierItemTypes" name="supplierItemTypes" [(ngModel)]="supplierItemTypes">
      </div>
    </div>
   -->
        <div class="form-group">
            <label for="itemType">Supplier Item Types</label>
            <br>
            <div>
                <select multiple="" class="form-control" name="supplierItemTypes" [(ngModel)]="supplierItemTypes" id="exampleSelect2">
        <option>Dekstop</option>
        <option>Headset</option>
        <option>Speakers</option>
        <option>Laptop</option>
        <option>iphone</option>
      </select>
            </div>
        </div>





        <!-- <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <br>
        <button type="submit" class="btn btn-default">Save</button>
        <button type="reset" class="btn btn-primary">Cancel</button>
      </div>
    </div> -->

        <div class="row">
            <div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>
            </div>
            <div>
                <div class="form-group">
                    <input type="cancel" class="btn btn-primary" value="Cancel">
                </div>
            </div>
        </div>

    </ba-card>
</form>