<ba-card>
    <table class="table table-striped table-hover " style="width:50%">

        <tr>
            <th>
                <h3>Item ID</h3>
            </th>
            <th>
                <h3>Employee Id</h3>
            </th>
            <th>
                <h3>Returned Date</h3>
            </th>
        </tr>

        <tr *ngFor="let availablemoreitem of availablesmoredetails">
            <td>{{ availablemoreitem.itemId }}</td>
            <td>{{ availablemoreitem.employeeId}}</td>
            <th>{{ availablemoreitem.day}}</th>
        </tr>
        <br>
        <Button class="btn btn-default" [routerLink]="[' ']">BACK</Button>
    </table>
</ba-card>